#Ejecutables
break
continue
hola
ejercicio_01
ejercicio_02
ejercicio_03
if
if_else_if
for
logico_and
logico_or
menu
while
do_while
do_while_ternario
ternario
switch
variables

#Objetos compilados
*.o

#Ejecutables comunes
*.out
*.exe

#Archivos Temporales de VIM
*.swap

#Archivos Temporales Generales
*~
