#Ejecutables
hola
variables
ejercicio_01
ejercicio_02
ejercicio_03
while
if
if_else_if
for
logico_and
logico_or

#Objetos compilados
*.o

#Ejecutables comunes
*.out
*.exe

#Archivos Temporales de VIM
*.swap

#Archivos Temporales Generales
*~
